.center-reg-form{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body {
    height: 100%;
    background-color: steelblue;
    margin-bottom: 60px;
}

.header-name{
    background-color: #696969;
    outline: 1px solid #000;
}

.friendPlayerLevel {
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
    border: solid white 2px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    cursor: default;
}

.profile_leftcol_header {
  border-bottom: none;
    padding: 6px 10px;
    line-height: 26px;
    border-radius: 3px;
    background-color: dimgrey;
    margin: 20px;
    color: white;
}

.market_listing_table_header {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 8px 0 10px;
    height: 2.25em;
    vertical-align: middle;
    line-height: 2.25em;
}

.market_listing_table_header .market_listing_right_cell  {
    border-left: 1px solid #404040;
    white-space: nowrap;
    margin-top: 0;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    height: 2.20em;
    line-height: 2.25em;

}
.market_listing_header_namespacer {
    width: 5px;
    display: inline-block;
    padding-left: 7px;
}

.market_listing_row {
    overflow: hidden;
    clear: left;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0);
    margin-top: 10px;
    white-space: nowrap;
    margin-left: 15px;
    margin-right: 15px;

}

.market_listing_price_listings_block {
    min-width: 180px;
    float: right;
}
.market_listing_num_listings {
    width: 80px;
    float: left;
}

.market_listing_item_name_block {
    vertical-align: top;
    line-height: 16px;
    padding-left: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.market_listing_row_link, a.market_listing_row_link:hover, a.market_listing_row_link:active, a.market_listing_row_link:visited {
	color: inherit;
	text-decoration: none;
}

.market_listing_row:hover{
    outline: 1px solid gold;
}

.market_search_sidebar_contents {
    width: 350px;
    padding: 12px 15px 15px 15px;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
}

.profile_small_header_texture {
    background-image: url(https://steamcommunity-a.akamaihd.net/public/images/profile/profile_header_small_bg_texture.jpg);
    max-width: 978px;
    height: 102px;
    margin: 0 auto;
    position: relative;
    margin-top: -20px;
}

.profile_small_header_text {
    position: absolute;
    left: 120px;
    right: 30px;
    bottom: 31px;
    max-height: 65px;
    color: white;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group_content {
    background-image:  url(https://steamcommunity-a.akamaihd.net/public/images/groups/group_content_topbackground.png?v=1);
    max-width: 978px;
    position: relative;
    margin: 0 auto;
    padding-left: 40px;
    color: white;
    padding-bottom: 10px;
}

.formRowTitle {
    display: block;
    text-align: right;
    width: 156px;
    height: 34px;
    line-height: 34px;
    left: -20px;
    top: 0px;
    font-size: 14px;
    color: white;
    overflow: hidden;
    margin-top: 10px;
}

.formRowInput {
    margin-top: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #111;
    text-align: center;
    margin-top: 30px;
}

html {
  position: relative;
  min-height: 100%;
}

.trade_item_box {
    background-color: #000000;
    border: 1px solid #2c2c2d;
    padding: 6px 0 0 6px;
}

.view_inventory_page .inventory_ctn .inventory_page{
    position: relative;
    width: 520px;
    height: 520px;
}

.view_inventory_page {
    position: relative;
    background-color: #1f1f1f;
    padding: 11px;
    width: 900px;
    margin-left: 6px;
}

.itemHolder {
    position: relative;
    width: 98px;
    height: 98px;
    background-color: #333333;
    background-image: url(https://steamcommunity-a.akamaihd.net/public/images/economy/trade_itemholder.png);
    background-repeat: no-repeat;
    background-position: center top;
    float: left;
    margin-right: -10px;
    margin-bottom: 6px;
    margin-left: 15px;
}

.view_inventory_page .item.activeInfo, .view_inventory_page .item:hover {
    background-position: -1px -197px;
    background-image: url(https://steamcommunity-a.akamaihd.net/public/images/economy/trade_itemholder.png);
    background-repeat: no-repeat;
}

.trade_item_box .item, .market_dialog_contents .item {
    border: 1px solid #3a3a3a;
    background-color: #292929;
    width: 96px;
    height: 96px;
}

.view_inventory_page .item {
    cursor: pointer;
    position: relative;
}

inventory_item_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 2;
}

.view_inventory_page .inventory_page_left {
    width: 528px;
}

.view_inventory_page .inventory_page_right {
    float: right;
    width: 350px;
    position: relative;
}

#iteminfo0, #iteminfo1 {
    width: 346px;
    top: 0px;
    left: 0px;
}

.inventory_iteminfo {
    border: 2px solid #3A3A3A;
    margin-left: 10px;
}

.item_desc_content {
    position: relative;
    padding: 22px 0 22px 218px;
    min-height: 192px;
    background-color: #1d1d1d;
    background-image: url(https://steamcommunity-a.akamaihd.net/public/images/economy/trade_hover_background.png);
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

.inventory_iteminfo .item_desc_content {
    padding: 238px 11px 11px 11px;
    background-image: url(https://steamcommunity-a.akamaihd.net/public/images/economy/inventory_hover_background.png);
}

#iteminfo0 .item_desc_content, #iteminfo1 .item_desc_content {
    min-height: 207px;
}

.item_desc_icon {
    position: absolute;
    left: 8px;
    top: 8px;
    right: 8px;
}

.market_listing_iteminfo {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    padding-bottom: 25px;
    height: 450px;
}

.market_listing_largeimage {
    background: #071215;
    -webkit-box-shadow: 0 0 14px #030303 inset;
    -moz-box-shadow: 0 0 14px #030303 inset;
    box-shadow: 0 0 14px #030303 inset;
    border-radius: 3px;
    -moz-border-radius: 3px;
    width: 440px;
    height: 360px;
    padding: 0 40px;
    margin-right: 15px;
    float: left;
    text-align: center;
}

.pagebtn {
    display: inline-block;
    line-height: 24px;
    background-color: rgba( 103, 193, 245, 0.2 );
    border: 1px transparent;
    border-radius: 3px;
    cursor: pointer;
    padding: 0px 16px;
    color: #66c0f4;
}

